<main>
  <header class="brand-name">
    <!-- to go to a link > [routerLink]="['']"
    sending a parameter > [routerLink]=['/details', housingLocation.id]"
    if there is a need of a logic before navigating to another page> (click)="someLogicFunction()" -->

    <a [routerLink]="['']">
      <img
        class="brand-logo"
        src="assets/logo.svg"
        alt="logo"
        aria-hidden="true"
      />
    </a>
  </header>

  <section>
    <!-- @if (isLogged) {
    <p>to logado</p>
    }@else {
    <p>to off</p>
    } @for (item of anyArray; track $index) {
    <p>{{ item.toUpperCase() }}</p>
    } @empty {
    <p>there are no items on the list.</p>
    } -->

    <!-- <p>Name: {{ person.name }}; age: {{ person.age }}.</p>
    <input type="text" [(ngModel)]="person.name" />
    <br />
    <input type="text" [(ngModel)]="person.age" /> -->
  </section>

  <section class="content">
    <!-- <app-home></app-home> -->

    <section>
      <!-- <p *ngIf="!isLogged">opa</p> -->

      <!-- <p *ngIf="isLogged" (mouseover)="onMouseOver()">opa</p> -->
    </section>

    <!-- to indicate to angular that is has to work with routes -->
    <router-outlet></router-outlet>
  </section>
</main>
